*{
    margin: 0;
    padding: 0;
}


/* Work Sans Google Font Imported */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Shared Styles */
.container{
    width: 75%;
    max-width: 1440px;
    margin: 0 auto;
}
.display-flex{
    display: flex;
}

/* color dark 02 */
.text-gray{
    color: #424242;
}
/* color dark 03 */
.text-light-gray{
    color: #727272;
}
.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}
.btn-primary{
    background-color: #FF900E;
    color: white;
    padding: 20px 25px;
    font-weight: 600;
    font-size: 1.25rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

header{
    padding-top: 50px;
    padding-bottom: 45px;
}

/* Navbar Start */
.navbar{
    justify-content: space-between;
    align-items: center;
    margin-bottom: 102px;
}
.nav-item{
    list-style: none;
    margin-right: 30px;
}
.nav-link{
    text-decoration: none;
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 26px;
}
.brand{
    /* 16px = 1rem */
    font-size: 2.8rem;
    font-weight: 700;
}
/* Navbar End */

/* Banner Start */
.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-title{
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 25px;
}
.banner-description{
    margin-bottom: 32px;
    font-size: 1rem;
    line-height: 26px;
}
.banner-img img{
    width: 100%;
}
/* Banner End */

/* Team Start */
.teams{
    align-items: center;
    margin-top: 85px;
}
.team-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
.our-features{
    margin-left: 73px;
    max-width: 537px;
}
.feature-title{
    font-size: 2.8rem;
    margin-bottom: 24px;
}
#quick-list{
    font-weight: 500;
}
#of-our{
    color: #131313;
    font-weight: 700;
}
#features{
    font-weight: 700;
    color: #FF900E;
}
.feature-description{
    margin-bottom: 32px;
}
/* Team End */

/* feature start */
.features{
    margin-top: 130px;
}
#feature-section-title{
    border-left:5px solid #FF900E;
    padding-left: 20px;
    font-weight: 700;
    font-size: 2.8rem;
    color: #131313;
    margin-bottom: 24px;
}
.btn-experience{
    margin-left: -92px;
    margin-top: -77px;
}
#ten-year{
    font-size: 4rem;
    font-weight: 700;
    line-height: 70px;
}
#exp{
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 40px;
}
.feature-part-1{
    margin-right: 146px;
    margin-top: 54px;
}
.feature-card{
    margin-top: 30px;
    padding: 30px;
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
}
.feature-card h3{
    font-size: 1.5rem;
    font-weight: 600;
    color: #131313;
    margin-bottom: 10px;
}
.feature-card{
    padding-right: 42px;
}

/* feature end */


/* Responsive Media Query */
@media screen and (max-width: 576px) {
    .navbar, 
    .nav-links,
    .teams,
    .features{
        flex-direction: column;
    }
    .team-img-container{
        grid-template-columns: repeat(1, 1fr);
    }
    .our-features{
        margin-left: 20px;
    }
    .feature-part-2 img{
        max-width: 100%;
    }
    .features{
        margin: 20px;
        margin: 0 auto;
    }
    .feature-part-1{
        margin: 0;
        margin-bottom: 20px;
        margin-top: 40px;
    }
    #ten-year{
        font-size: 2rem;
        line-height: 0;
    }
    #exp{
        font-size: 1rem;
        line-height: 0;
    }
    .btn-experience{
        margin-left: -30px;
        margin-top: -40px;
        padding: 15px;
    }
}
/* medium size device */
@media screen and (min-width: 576px) and (max-width: 992px){
    .teams,
    .features{
        flex-direction: column;
    }
    .our-features{
        margin: 50px auto;
    }
    .feature-part-2 img{
        max-width: 100%;
    }
    .features{
        margin: 20px;
        margin: 0 auto;
    }
    .feature-part-1{
        margin: 0;
        margin-bottom: 20px;
        margin-top: 40px;
    }
    #ten-year{
        font-size: 2rem;
        line-height: 0;
    }
    #exp{
        font-size: 1rem;
        line-height: 0;
    }
    .btn-experience{
        margin-left: -30px;
        margin-top: -40px;
        padding: 15px;
    }

}